.card {
  // margin: 0 auto; /* Added */
  // float: none; /* Added */
  // margin-bottom: 10px; /* Added */
  margin-top: 10rem;
  margin-left:27rem ;
  width: 30rem; 
  height: 20rem;
}

.form-control{
  margin-left: 4rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-radius:.40rem;
  border: 1px solid #137be4;
}

